<footer class="py-4 mt-5 mx-auto">
  <div class="container">
    <div class="row">
      <!-- Footer Column 1: About -->
      <div class="col-md-6">
        <h5>About Us</h5>
        <p>
          Capricciosity is a premium pizza restaurant dedicated to serving
          delicious pizzas with the finest ingredients. Visit us for a unique
          pizza experience.
        </p>
        <p>&copy; 2024 Capricciosity. All rights reserved.</p>
      </div>

      <!-- Footer Column 2: Social media links -->
      <div class="col-md-6">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              href="https://www.linkedin.com/in/ema-djedovic"
              target="_blank"
              class="text-decoration-none text-dark"
            >
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://github.com/emadjedovic"
              target="_blank"
              class="text-decoration-none text-dark"
            >
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://medium.com/@emadjedovic"
              target="_blank"
              class="text-decoration-none text-dark"
            >
              <i class="fab fa-medium"></i> Medium
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap JS and Font Awesome (optional for icons) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
