<nav class="navbar m-3">
    <div class="container text-center">
      <h1 class="mx-auto">Capricciosity</h1>
      <div class="w-100">
        <ul class="navbar-nav d-flex flex-row justify-content-center">
          <li class="nav-item m-2">
            <a class="nav-link btn" href="/">Home</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link btn" href="/libraries/new">Add Library</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link btn" href="/libraries">Libraries</a>
          </li>
          <li class="nav-item m-2">
            <%- include ('_librariesModal') %>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link btn" href="/members">Members</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link btn" href="/members/new">Sign In</a>
          </li>
        </ul>
        
      </div>
      <!-- Login/Logout div in the upper-right corner -->
      <div class="position-absolute top-0 end-0 pt-2">
        <% if (loggedIn) { %>
          <a href="<%=`/members/${currentMember._id}`%>" class="text-decoration-none text-dark">
            <p class="fw-bold mb-3">Welcome, <br><%= currentMember.fullName %></p>
          </a>
          <a href="/members/logout">
            <button class="btn btn-success" style="border-radius: 1rem;">LOG OUT</button>
          </a>
        <% } else { %>
          <a href="/members/login">
            <button class="btn btn-success" style="border-radius: 1rem;">LOG IN</button>
          </a>
        <% } %>
      </div>
      
    </div>
  </nav>
  