<div class="container" style="width: 400px">
    <form method="POST" class="form text-center" action="<%=`/courses/${course._id}/update?_method=PUT`%>">
      <h2>Edit course:</h2>
      <input
        type="text"
        class="form-control m-2"
        name="title"
        id="inputTitle"
        value="<%=course.title %>"
        placeholder="Title"
        required
      />
      <input
        type="text"
        class="form-control m-2"
        name="description"
        id="inputDescription"
        value="<%=course.description %>"
        placeholder="Description"
        required
      />
      <input
        type="text"
        class="form-control m-2"
        name="zipCode"
        id="inputZipCode"
        pattern="\d*"
        value="<%= course.zipCode %>"
        placeholder="Zip Code"
      />
      <button type="submit" class="btn btn-dark m-2">UPDATE</button>
    </form>
  </div>
  