<div class="container" style="width: 400px">
  <form action="/subscribers/create" class="form text-center" method="post">
    <input
      type="text"
      class="form-control m-2"
      name="name"
      placeholder="Name"
    />
    <input
      type="text"
      class="form-control m-2"
      name="email"
      placeholder="Email"
    />
    <input
      type="text"
      class="form-control m-2"
      name="zipCode"
      placeholder="Zip Code"
      pattern="[0-9]{5}"
    />
    <button type="submit" class="btn btn-dark m-2">SUBSCRIBE</button>
  </form>
</div>
